In [1]:
import pandas as pd

In [2]:
mechanics = pd.read_excel('mechanics.xls')
mechanics.head()

,No.,Student ID,Tutorial Class,Attendance,Midterm,Quiz test,Final Exam,Average - first time,Retake exam mark,Final result
0,1,USTHBI8-001,BI8-A,"20,0","20,0","20,0","7,7","13,9",NaN,"13,9"
1,2,USTHBI8-002,BI8-E,"20,0","20,0","12,5","3,8","10,8",NaN,"10,8"
2,3,USTHBI8-003,BI8-C,"20,0","6,0","16,2","4,4","8,1",NaN,"8,1"
3,4,USTHBI8-004,BI8-D,"20,0","16,4","20,0","6,6","12,4",NaN,"12,4"
4,5,USTHBI8-005,BI8-D,"20,0","19,5","20,0","11,0","15,4",NaN,"15,4"

In [3]:
keys = mechanics['Student ID'].values
result = mechanics['Final result'].values
result1 = []
for i in result:
    result1.append(i.replace(',', '.'))
m = pd.Series(result1, index=keys)
m1 = pd.to_numeric(m, downcast='float')
mechanics = m1[m1>=10]
mechanics.head()

USTHBI8-001    13.9
USTHBI8-002    10.8
USTHBI8-004    12.4
USTHBI8-005    15.4
USTHBI8-007    14.0
dtype: float32

In [4]:
linear = pd.read_excel('linear.xls')
keys = linear['Student ID'].values
result = linear['Final result'].values
result1 = []
for i in result:
    result1.append(i.replace(',', '.'))
m = pd.Series(result1, index=keys)
m1 = pd.to_numeric(m, downcast='float')
linear = m1[m1>=10]
len(linear)

84

In [5]:
genchem = pd.read_excel('genchem.xls')
keys = genchem['Student ID'].values
result = genchem['Final result'].values
result1 = []
for i in result:
    result1.append(i.replace(',', '.'))
m = pd.Series(result1, index=keys)
m1 = pd.to_numeric(m, downcast='float')
genchem = m1[m1>=10]
len(genchem)

120

In [6]:
informatics = pd.read_excel('informatics.xls')
keys = informatics['Student ID'].values
result = informatics['Final result'].values
result1 = []
for i in result:
    result1.append(i.replace(',', '.'))
m = pd.Series(result1, index=keys)
m1 = pd.to_numeric(m, downcast='float')
informatics = m1[m1>=10]
informatics.head()

USTHBI8-001    12.8
USTHBI8-002    11.0
USTHBI8-004    14.3
USTHBI8-005    17.4
USTHBI8-007    13.8
dtype: float32

In [7]:
cell = pd.read_excel('cell.xls')
keys = cell['Student ID'].values
result = cell['Final result'].values
result1 = []
for i in result:
    result1.append(i.replace(',', '.'))
m = pd.Series(result1, index=keys)
m1 = pd.to_numeric(m, downcast='float')
cell = m1[m1>=10]
len(cell)

109

In [8]:
calculus1 = pd.read_excel('calculus1.xls')
keys = calculus1['Student ID'].values
result = calculus1['Final result'].values
result1 = []
for i in result:
    result1.append(i.replace(',', '.'))
m = pd.Series(result1, index=keys)
m1 = pd.to_numeric(m, downcast='float')
calculus1 = m1[m1>=10]
len(calculus1)

154

In [9]:
pd.read_excel('electro.xls').head()

,Student ID,Tutorial Class,Midterm,Final Exam,Final result,Unnamed: 5,Unnamed: 6
0,USTHBI8-001,BI8-A,"6,3","5,5",NaN,NaN,"6,3"
1,USTHBI8-002,BI8-E,"4,9","3,5",NaN,NaN,"4,9"
2,USTHBI8-003,BI8-C,"0,0",Unqualified,NaN,NaN,"0,0"
3,USTHBI8-004,BI8-D,"10,5","10,5",NaN,NaN,"10,5"
4,USTHBI8-005,BI8-D,"12,4","12,5",NaN,NaN,"12,4"

In [10]:
electro = pd.read_excel('electro.xls')
keys = electro['Student ID'].values
result = electro['Midterm'].values
result1 = []
for i in result:
    result1.append(i.replace(',', '.'))
m = pd.Series(result1, index=keys)
m1 = pd.to_numeric(m, downcast='float')
electro = m1[m1>=10]
len(electro)

69

In [11]:
optics = pd.read_excel('optics.xls')
keys = optics['Student ID'].values
result = optics['Final result'].values
result1 = []
for i in result:
    result1.append(i.replace(',', '.'))
m = pd.Series(result1, index=keys)
m1 = pd.to_numeric(m, downcast='float')
optics = m1[m1>=10]
len(optics)

137

In [12]:
genetics = pd.read_excel('genetics.xls')
keys = genetics['Student ID'].values
result = genetics['Final result'].values
result1 = []
for i in result:
    result1.append(i.replace(',', '.'))
m = pd.Series(result1, index=keys)
m1 = pd.to_numeric(m, downcast='float')
genetics = m1[m1>=10]
len(genetics)

128

In [13]:
genchem2 = pd.read_excel('genchem2.xls')
keys = genchem2['Student ID'].values
result = genchem2['Final result'].values
result1 = []
for i in result:
    result1.append(i.replace(',', '.'))
m = pd.Series(result1, index=keys)
m1 = pd.to_numeric(m, downcast='float')
genchem2 = m1[m1>=10]
len(genchem2)

132

In [14]:
organ = pd.read_excel('organ.xls')
keys = organ['Student ID'].values
result = organ['Final result'].values
result1 = []
for i in result:
    result1.append(i.replace(',', '.'))
m = pd.Series(result1, index=keys)
m1 = pd.to_numeric(m, downcast='float')
organ = m1[m1>=10]
len(organ)

86

In [15]:
cal2 = pd.read_excel('cal2.xls')
keys = cal2['Student ID'].values
result = cal2['Final result'].values
result1 = []
for i in result:
    result1.append(i.replace(',', '.'))
m = pd.Series(result1, index=keys)
m1 = pd.to_numeric(m, downcast='float')
cal2 = m1[m1>=10]
len(cal2)

94

In [16]:
SciEng = pd.read_excel('SciEng.xls')
keys = SciEng['Student ID'].values
result1 = SciEng['Final result'].values

m = pd.Series(result1, index=keys)
m1 = pd.to_numeric(m, downcast='float')
SciEng = m1[m1>=10]
len(SciEng)

185

In [17]:
program = pd.read_excel('program.xls')
keys = program['Student ID'].values
result = program['Final result'].values
result1 = []
for i in result:
    result1.append(i.replace(',', '.'))
m = pd.Series(result1, index=keys)
m1 = pd.to_numeric(m, downcast='float')
program = m1[m1>=10]
len(program)

68

In [18]:
pracphy = pd.read_excel('pracphy.xls')
keys = pracphy['Student ID'].values
result = pracphy['Final result'].values
result1 = []
for i in result:
    result1.append(i.replace(',', '.'))
m = pd.Series(result1, index=keys)
m1 = pd.to_numeric(m, downcast='float')
pracphy = m1[m1>=10]
len(pracphy)

168

In [19]:
acawrite = pd.read_excel('acawrite.xls')
keys = acawrite[1].values
result = acawrite[2].values
result1 = []
for i in result:
    result1.append(i.replace(',', '.'))
m = pd.Series(result1, index=keys)
m1 = pd.to_numeric(m, downcast='float')
acawrite = m1[m1>=10]
len(acawrite)

173

In [20]:
present = pd.read_excel('present.xls')
keys = present[1].values
result = present[2].values
result1 = []
for i in result:
    result1.append(i.replace(',', '.'))
m = pd.Series(result1, index=keys)
m1 = pd.to_numeric(m, downcast='float')
present = m1[m1>=10]
len(present)

174

In [21]:
notetake = pd.read_excel('notetake.xls')
keys = notetake[1].values
result = notetake[2].values
result1 = []
for i in result:
    result1.append(i.replace(',', '.'))
m = pd.Series(result1, index=keys)
m1 = pd.to_numeric(m, downcast='float')
notetake = m1[m1>=10]
len(notetake)

174

In [22]:
speak = pd.read_excel('speak.xls')
keys = speak[1].values
result = speak[2].values
result1 = []
for i in result:
    result1.append(i.replace(',', '.'))
m = pd.Series(result1, index=keys)
m1 = pd.to_numeric(m, downcast='float')
speak = m1[m1>=10]
len(speak)

174

In [23]:
write = pd.read_excel('write.xls')
keys = write[1].values
result = write[2].values
result1 = []
for i in result:
    result1.append(i.replace(',', '.'))
m = pd.Series(result1, index=keys)
m1 = pd.to_numeric(m, downcast='float')
write = m1[m1>=10]
len(write)

180

In [24]:
read = pd.read_excel('read.xls')
keys = read[1].values
result = read[2].values
result1 = []
for i in result:
    result1.append(i.replace(',', '.'))
m = pd.Series(result1, index=keys)
m1 = pd.to_numeric(m, downcast='float')
read = m1[m1>=10]
len(read)

182

In [25]:
listen = pd.read_excel('listen.xls')
keys = listen[1].values
result = listen[2].values
result1 = []
for i in result:
    result1.append(i.replace(',', '.'))
m = pd.Series(result1, index=keys)
m1 = pd.to_numeric(m, downcast='float')
listen = m1[m1>=10]
len(listen)

176

In [26]:
import numpy as np

econ = pd.read_excel('econ.xlsx')
econ.columns = np.arange(0,12)
econ.drop(econ.index[[0,1,2,3,4,5,200,201]], inplace=True)
econ.fillna(15, inplace=True)

keys = econ[1].values
result = econ[10].values

m = pd.Series(result, index=keys)
m1 = pd.to_numeric(m, downcast='float')
econ = m1[m1>=10]
len(econ)

191

In [27]:
law = pd.read_excel('law.xlsx')
law.columns = np.arange(0,11)
law.drop(law.index[[0,1,2,3,4,5]], inplace=True)
law.fillna(15, inplace=True)

keys = law[1].values
result = law[7].values

m = pd.Series(result, index=keys)
m1 = pd.to_numeric(m, downcast='float')
law = m1[m1>=10]
len(law)

141

In [28]:
pracchem = pd.read_excel('pracchem.xls')
keys = pracchem['Student ID'].values
result = pracchem['Final result'].values
result1 = []
for i in result:
    result1.append(i.replace(',', '.'))
m = pd.Series(result1, index=keys)
m1 = pd.to_numeric(m, downcast='float')
pracchem = m1[m1>=10]
len(pracchem)

164

In [29]:
final = (acawrite*2 + read + listen + write*2 + speak*2 + notetake*2 + present*2 + SciEng*3 + econ + law 
         + cell*3 + informatics*4 + calculus1*3 + mechanics*3 + linear*3 + genchem*3 + electro*2 
         + optics*2 + genetics*3 + genchem2*3 + cal2*3 + organ*3+ program*4 + pracphy *2 + pracchem*2)/ 60

In [30]:
final = final[final.notnull()]
len(final)

27

In [31]:
studentlist = pd.read_excel('studentlist.xls')
studentlist.head()

    Student ID            first   last                  DoB CLASS
0  USTHBI8-014  Nguyễn Xuân Duy    Anh  1999-12-02 00:00:00  B101
1  USTHBI8-012      Nguyễn Duy     Anh            26/2/1999  B101
2  USTHBI8-025       Phạm Quỳnh   Châm           26/12/1999  B101
3  USTHBI7-028     Nguyễn Thành  Chung                  NaN  B101
4  USTHBI7-042          Võ Minh    Đức                  NaN  B101

In [32]:
# choose index column
studentlist = studentlist.set_index('Student ID')

In [33]:
# Delete columns
del studentlist['DoB']
del studentlist['CLASS']

In [34]:
studentlist['result'] = final

In [35]:
finalTable = studentlist[studentlist['result'].notnull()]
finalTable.sort_values('result', ascending=False)

                         first    last     result
Student ID
USTHBI8-011           Đỗ Hoàng     Anh  17.193333
USTHBI8-109      Phạm Thị Ngọc     Mai  16.910000
USTHBI8-096        Hoàng Khánh    Linh  16.423332
USTHBI8-059        Trần Thị Mỹ    Hạnh  16.164999
USTHBI8-034        Trịnh Đình      Duy  16.158337
USTHBI8-085            Vũ Toàn   Khánh  16.111668
USTHBI8-091             Lê Thị    Liên  16.076666
USTHBI8-005  Nguyễn Hoàng Quân     Anh  16.014999
USTHBI8-058          Lê Phương      Hà  15.921667
USTHBI8-189      Trương Sĩ Thi      Vũ  15.848332
USTHBI8-042       Đỗ Đăng Minh     Đức  15.630000
USTHBI8-172           Lê Quang   Thắng  15.520001
USTHBI8-101          Huỳnh Huệ    Linh  15.373334
USTHBI8-062        Lê Như Chu     Hiệp  15.346667
USTHBI8-160          Phan Mạnh    Tùng  15.176667
USTHBI8-141     Đinh Như Minh   Phương  15.025000
USTHBI8-041        Nguyễn Tiến     Đạt  14.956666
USTHBI8-057         Phạm Ngọc       Hà  14.684999
USTHBI8-013         Nguyễn Vân     Anh  14.681668
USTHBI8-158        Nguyễn Anh     Tuấn  14.606668
USTHBI8-023          Từ Quang      Bảo  14.578334
USTHBI8-133       Vũ Anh Hạnh   Nguyên  14.220001
USTHBI8-019           Lê Hoàng     Anh  14.214999
USTHBI8-026         Nguyễn Đan     Chi  14.145000
USTHBI8-035       Nguyễn Đăng    Dương  14.039999
USTHBI8-131       Cao Thị Anh     Ngọc  13.799999
USTHBI8-004   Chu Nguyễn Hoàng     Anh  13.695001